.about{
    background-color: rgb(255, 255, 255);
    height: 100%;
    color:rgb(79, 93, 115);
}
#aboutlogo .logo{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about>p{
    width: 50%;
    margin: 2rem auto;
}
.about h2{

    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.about u{
    color:rgb(230,46,31);
}
.about .tower{
    height: 20rem;
    width: 100%;
    margin: 0 auto;
    background: url("../img/towers.jpg"); 
    background-size: cover;
}

.about .box1{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
