.home{
    height: 100%;
    background-color: rgb(7,155,213);
    background-size: cover;
}
.home>p{
    margin: 4rem auto;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 1.785rem;
    font-weight: 700;
    text-align: center;
}

.home>p>u{
    color: rgb(0, 0, 0);
}
 .home .box1{
    display: flex;
    justify-content: space-around;
}
.home .encuentra, .home .busca{
    margin-top: 10%;
    display: flex;
    background-color: rgb(7,155,213);
    box-shadow: 7px 7px 19px 0px rgba(0,0,0,0.22);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
    height: 6rem;
    width: 10rem;
}
.post-ad{
    border-radius: 0.5rem;
    width: 50%;
    margin: 2em auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 83, 137);
}
.post-ad>h2{
    color: rgb(237, 108, 22);
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}
.post-ad>p{
    color: rgb(255, 255, 255);
    width: 80%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin: 2em auto;
    line-height: 2em;
}
.post-ad>a{
    margin: 2rem auto;
    width: 3.5em;
    background-color: rgb(237, 108, 22);
    border-radius: 8px;
    border: solid 1px rgb(237, 108, 22);
}
.post-ad>a:hover{
    background-color:  rgb(7,155,213);
    border: solid 1px white;
    border-radius: 8px;
}

.box1{
    margin-top: 6rem;
}
.box1>div{
    background: url("../img/hm_vector.svg");  
    width: 100vw;
    height: 60vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1>div>p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0;
    background-color: rgba(237, 108, 22,0.5);
}
/* small */
@media only screen and (min-width:576px) {
}
/* medium */
@media only screen and (min-width:768px) {
    .post-ad>p{
        color: rgb(255, 255, 255);
        width: 80%;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin: 4em auto;
        line-height: 2em;
    }
    .box1>div>p{
        font-size: 2rem;
        color: rgb(255, 255, 255);
        width: 40%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 2rem 0 2remrem 0;
        background-color: rgba(237, 108, 22,0.5);
    }
}
 /* largue */
@media only screen and (min-width:992px) {

}
 /* Extra largue */
@media only screen and (min-width:1200px) {
}