.home{
    height: 100%;
    background-color: rgb(7,155,213);
    background-size: cover;
}
.home>p, .post-ad>p{
    margin: 4rem 0 4rem 0;
    color: rgb(255, 255, 255);
    font-size: 1.785rem;
    font-weight: 700;
    text-align: center;
}
.home>p>u{
    color: rgb(237, 108, 22);
}
.home>section{
    display: flex;
    justify-content: space-around;
}
.home .encuentra, .home .busca{
    margin-top: 10%;
    display: flex;
    background-color: rgb(7,155,213);
    box-shadow: 7px 7px 19px 0px rgba(0,0,0,0.22);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
    height: 6rem;
    width: 10rem;
}
.post-ad{
    display: flex;
    flex-direction: column; 
}
.post-ad button{
    width: 5rem; 
    margin: 0 auto;
}
.ad-description{
    display: flex;
    flex-direction: column;
}
.ad-description>p{
    font-size: 1.5rem;
    color: white;
    text-align: justify;
    padding: 0 35% 0 35%;
}
.ad-description>a{
    margin-top: 2rem;
    width: 3.5em;
    margin: 0 auto;
}
.ad-description>a:hover{
    border: solid 1px white;
    border-radius: 8px;
}

.box1{
    margin-top: 6rem;
}
.box1>div{
    background: url("../img/hm_vector.svg");  
    width: 100vw;
    height: 60vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box1>div>p{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    width: 50vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2rem 0 2rem 0;
    background-color:rgba(0, 98, 255, 0.5);
}
