.login .loginform {
  padding: 1rem;
  color: rgb(79, 93, 115);
    border-radius: 4px;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .login .logged{
    padding: 1rem;
    color: rgb(79, 93, 115);
    border-radius: 4px;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login .logged>button{
  width: 10%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: .5rem 2rem;
  color:white;
  border-radius: 4px;
  border: solid 2px rgb(79, 93, 115);
  background: rgb(79, 93, 115);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2rem auto;
}
.login .logged>button:hover
{
  border: solid 2px rgb(230,46,31);
  background: rgb(230,46,31);
}
.login .logged>button:active{
  transform: scale(0.98);
  border: solid 2px rgb(143, 30, 20);
  background: rgb(143, 30, 20);
}
.loginform a{
  display: flex;
  text-decoration: none;
  color: black;
  cursor:alias;
}
.loginform .register{
  width:80%;
  cursor: pointer;
  margin: 1rem auto;
}
  .loginform .title{
      font-size: 1.5rem;
      text-align: left;
      font-weight: bold;
      margin: .5rem 0 .5em;
      align-items: center;
  }
  .loginform input[type="text"],
  .loginform input[type="password"],
  .loginform input[type="email"] {
    font-weight: 700;
    width: 100%;
    padding: 1.5em;
    border-radius: .3rem;
    margin: .5rem auto;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .loginform input[type="submit"]{
    height: 2.5rem;
    color: white;
    padding: 0 1.5rem;
    border-radius: 4px;
    border: solid 2px rgb(79, 93, 115);
    background: rgb(79, 93, 115);
    margin: 2rem 0 0;
  }
  .loginform input[type="submit"]:hover
  {
    border: solid 2px rgb(230,46,31);
    background: rgb(230,46,31);
  }
  .loginform input[type="submit"]:active{
    transform: scale(0.98);
    border: solid 2px rgb(143, 30, 20);
    background: rgb(143, 30, 20);
  }
  
  .loginform .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .loginform .logo{
    cursor: pointer;
    height: 5rem;
    width: 11.4rem;
    margin: 1.5rem auto;
    background:url("../img/logo.svg");
    background-size: cover;
  }


  /* small */
@media only screen and (min-width:576px) {
  .login .loginform{
    width: 40%;
}
.login .logged{
  width: 40%;
}

}
/* medium */
@media only screen and (min-width:768px) {
  .login .loginform{
    width: 30%;
}
.login .logged{
  width: 30%;
}
}
 /* largue */
@media only screen and (min-width:992px) {
  .login .loginform{
    width: 25%;
}
.login .logged{
  width: 25%;
}
}
 /* Extra largue */
@media only screen and (min-width:1200px) {
  .login .loginform{
    width: 20%;
}
.login .logged{
  width: 20%;
}
}