.login .loginform {
    border-radius: 1rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px rgb(237, 108, 22);
  }
  .login .logged{
    padding: 2rem;
    border-radius: 1rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 50%;
    border: solid 1px rgb(237, 108, 22);
}
.loginform a{
  display: flex;
  text-decoration: none;
  color: black;
  cursor:alias;
}
.loginform .register{
  width:80%;
  cursor: pointer;
  margin: 1rem auto;
}
  .loginform .title{
      font-weight: bold;
      margin: .5rem auto;
      align-items: center;
  }
  .loginform input[type="text"],
  .loginform input[type="password"],
  .loginform input[type="email"] {
    width: 80%;
    margin: .5rem auto;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .loginform input[type="submit"] {
    border-radius: .5rem;
    cursor: pointer;
    margin: .5rem auto;
    margin-top: 1rem ;
    font-size: 1rem;
    background: rgb(237, 108, 22);
    border: 0px;
    color: #fff;
    padding: 10px 20px;
  }
  
  .loginform input[type="submit"]:hover {
    background: rgb(7,155,213);
  }
  
  .loginform .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .loginform .logo{
    cursor: pointer;
    height: 6rem;
    width: 6.5rem;
    margin: .5rem auto;
    background:url("../img/logo-small.svg");
    background-size: cover;
  }
  .login .logged{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 20%;
    border: solid 1px rgb(237, 108, 22);
}
.login .logged>button{
  align-items: center;
  width: 20%;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2rem auto 0.5rem;
  font-size: 1rem;
  background: rgb(237, 108, 22);
  border: 0px;
  color: #fff;
  padding: auto;
  padding: 0.5rem;
}
  /* small */
@media only screen and (min-width:576px) {
  .login .loginform{
    width: 40%;
}
}
/* medium */
@media only screen and (min-width:768px) {
  .login .loginform{
    width: 30%;
}
}
 /* largue */
@media only screen and (min-width:992px) {
  .login .loginform{
    width: 25%;
}
}
 /* Extra largue */
@media only screen and (min-width:1200px) {
  .login .loginform{
    width: 20%;
}
}