.ad .postbox {
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .ad .registered{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: green;
    padding:  2rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ad .registered>button{
  height: 2.5rem;
  color: white;
  border-radius: 4px;
  border: solid 2px rgb(79, 93, 115);
  background: rgb(79, 93, 115);
  margin: 2rem 0 0;
}
.ad .registered>button:hover
{
  border: solid 2px rgb(230,46,31);
  background: rgb(230,46,31);
}
.ad .registered>button:active{
  transform: scale(0.98);
  border: solid 2px rgb(143, 30, 20);
  background: rgb(143, 30, 20);
}
.postbox a{
  display: flex;
  text-decoration: none;
  color: black;
  cursor:alias;
}
.postbox .register{
  width:80%;
  cursor: pointer;
  margin: 1rem auto;
}
.postbox .category{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .postbox .title{
    font-weight: bold;
    text-align: justify;
    width: 94%;
    margin: 0 auto;
    color: rgb(79, 93, 115);
    font-size: 1rem;
  }
  .postbox .title h2{
    margin: 0;

  }
  .postbox input[type="text"],
  .postbox input[type="email"],
  .postbox input[type="file"],
  .postbox textarea
  {
    min-width: 90%;
    max-width: 90%;
    font-size: .8rem;
    margin: 0.5rem auto;
    padding: 0.5rem;
    color:rgb(79, 93, 115);
    font-weight: 700;
    background-color: #ffa2a2;
    border: 1px solid rgb(115 115 115 / 20%);
  }
  #postselect{
    color: rgb(120 120 120);
    font-weight: 700;
    width: 94.5%;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: #ffa2a2;
    border: 1px solid rgb(115 115 115 / 20%);
  }
  .input-container>p{
    margin: 0 0 0 1rem;
  }
  .postbox input[type="submit"] {
    border-radius: .5rem;
    cursor: pointer;
    margin: 2.5rem auto 1rem;
    font-size: 1rem;
    border: solid 2px rgb(79, 93, 115);
    background: rgb(79, 93, 115);
    border: 0px;
    color: #fff;
    padding: 10px 20px;
  }
  

  .postbox input[type="submit"]:hover 
{
  background: rgb(230,46,31);
}
.ad .registered>button:active{
  transform: scale(0.98);
  background: rgb(143, 30, 20);
}
  
  .postbox.button-container {
    display: flex;
    justify-content: center;
  }
  
  .ad .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .postbox .logo{
    cursor: pointer;
    height: 5rem;
    width: 11.4rem;
    margin: 1.5rem auto;
    background:url("../img/logo.svg");
    background-size: cover;
  }
  /**********File Inputs**********/
.container-input {
  text-align: center;
  width: 100%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.iborrainputfile {
font-size:16px; 
font-weight:normal;
font-weight: 700;
}

/* style 1 */

.inputfile-1 + label {
  color: rgb(121, 121, 121);
  background-color: #ffa2a2;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #a9a9a9;
}

  /* small */
@media only screen and (min-width:576px) {
  .ad .postbox {
    width: 60%;
  }
}
/* medium */
@media only screen and (min-width:768px) {
  .ad .postbox {
    width: 45%;
  }
}
 /* largue */
@media only screen and (min-width:992px) {
  .ad .postbox {
    width: 35%;
  }

}
 /* Extra largue */
@media only screen and (min-width:1200px) {
  .ad .postbox {
    width: 30%;
  }
}
