.reg .regform {
    border-radius: 1rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px rgb(237, 108, 22);
  }
  .reg .registered{
    padding: 2rem;
    border-radius: 1rem;
    margin: 30vh auto;
    background-color: #f8f9fd;
    width: 20%;
    border: solid 1px rgb(237, 108, 22);
}
.loginform a{
  display: flex;
  text-decoration: none;
  color: black;
  cursor:alias;
}
.loginform .register{
  width:80%;
  cursor: pointer;
  margin: 1rem auto;
}
  .regform .title{
      font-weight: bold;
      margin: .5rem auto;
      align-items: center;
  }
  .regform input[type="text"],
  .regform input[type="email"] {
    width: 80%;
    margin: .5rem auto;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .regform input[type="submit"] {
    border-radius: .5rem;
    cursor: pointer;
    margin: .5rem auto;
    margin-top: 1rem ;
    font-size: 1rem;
    background: rgb(237, 108, 22);
    border: 0px;
    color: #fff;
    padding: 10px 20px;
  }
  
  .regform input[type="submit"]:hover {
    background: rgb(7,155,213);
  }
  
  .regform .button-container {
    display: flex;
    justify-content: center;
  }
  
  .reg .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .regform .logo{
    height: 6rem;
    width: 6.5rem;
    margin: .5rem auto;
    background:url("../img/logo-small.svg");
    background-size: cover;
  }
  
