.cards .card{
    background-color: chocolate;
    width: 30%;
    border: solid 1px black;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.srch .cards{
    display: flex;
    justify-content: space-around;
}

.srch{
    background-color: rgb(7,155,213);
}
.srchheader{
    display: flex;
    flex-direction: column;
}
.srchtitle{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srchtitle>u{
    color: rgb(237, 108, 22);
}
.srchselect{
    width: 100%;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;

}
.srchselect>p{
    color:white;
    font-size: .8rem;
}
form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
select{
    border-radius: 0px;
    height: 2rem;
    background-color: rgb(7,155,213);
    color: white;
    border: 0px;
    margin-left: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    border: solid 2px rgb(237, 108, 22);
}
select:focus{
    border-radius: 0px;
    background-color: rgb(7,155,213);
    border: solid 2px rgb(237, 108, 22);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    outline: none;
}
select:hover{
    border-radius: 0px;
    background-color: rgb(7,155,213);
    border: solid 2px rgb(255, 173, 118);
    cursor:pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: .8rem;
    outline: none;
}
hr{
    height:2px;
    border-width:0;
    background-color:rgb(237, 108, 22);
    width: 80%;
}

