.abc{
  width: 100%;
}
.cards .card{
    background-color: white;
    border-radius: 4px;
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .cardtitle{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto 1rem;
}
.card .category{
  margin-top: 1rem;
  color: rgb(230,46,31);
  font-size: small;
}
.card .description{
  width: 80%;
  text-align: justify;
  margin: 1rem auto;
}
.card .image{
  width: 100%;
  height: 50vw;
  background: url("../img/card_bg.jpg"); 
  background-size: cover;
}

.card .contactbtn{
    border-radius: 4px;
    background-color: #ffffff;
    color:rgb(230,46,31);
    border: solid 1px rgb(230,46,31);
    text-align: center;
    font-size: .8rem;
    padding: .5rem 1rem;
    transition: all .5s;
    cursor: pointer;
    margin: 1rem;
  }
  
  .card .contactbtn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  } 
  .card .contactbtn span:after {
    content: '\00bb';
    vertical-align: middle;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .card .contactbtn:hover span {
    padding-right: .7rem;
    color: rgb(255, 255, 255);
  } 
  .card .contactbtn:hover{
    background-color: rgb(79, 93, 115);
    border: solid 1px rgb(79, 93, 115);
  } 
  .card .contactbtn:hover span:after {
    color: #ffffff;
    opacity: 1;
    right: 0;
  }
  .srch .title {
    position: relative;
    font-size: 6rem;
    font-weight: 900;
    color: rgb(230,46,31);
    text-align: left;
}
.srch .title .subtitle {
  color: rgb(79, 93, 115);
  width: 100%;
  font-size: 2rem;
  position: absolute;
  top: 4.5rem;
  margin-left: 2rem;
}
.srch .cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.srchheader{
  width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.srchselect{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.categories{
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.categories>button{
  font-weight: 700;
  border-radius: 4px;
  margin: .2rem .5rem 0 .5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(255, 179, 0);
  padding: .5rem;
}
.categories>button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.srch .needlog{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: rgb(128, 28, 0);
  padding:  2rem;
  margin: 30vh auto;
  background-color: #f8f9fd;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.srch .needlog>button{
height: 2.5rem;
color: white;
border-radius: 4px;
border: solid 2px rgb(79, 93, 115);
background: rgb(79, 93, 115);
margin: 2rem 0 0;
}
.srch .needlog>button:hover
{
border: solid 2px rgb(230,46,31);
background: rgb(230,46,31);
}
.srch .needlog>button:active{
transform: scale(0.98);
border: solid 2px rgb(143, 30, 20);
background: rgb(143, 30, 20);
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 50vh;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
 /* small */
 @media only screen and (min-width:576px) {
 
}
/* medium */
@media only screen and (min-width:768px) {
  .categories{
    display: flex;
  }
  .cards .card{
    width: 45%;
}
.card .image {
  width: 100%;
  height: 15rem;
}
}
 /* largue */
@media only screen and (min-width:992px) {
  .cards .card{
    width: 30%;
}

}
 /* Extra largue */
@media only screen and (min-width:1200px) {
  .cards .card{
    width: 22%;
}
}