html, body {
    margin: 0;
    padding: 0;
  }
  /* Image slider */
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: calc(100vw*0.56);
    margin: 5rem 0 8rem;
  }
  
  .pic-ctn>div {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: display 20s infinite;
  }
  .roller img{
    width: 100vw;
  }
  .roller>div{
    background-color: rgb(79, 93, 115);
    position: absolute;
   height: 5rem;
   top:100%;
   width: 70%;
   color: white;  
   text-align: left;
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
  }
  
  .roller h2{
    margin: 0 1rem;
  }
  .roller p{
      margin: 0 1rem;
   }

  .roller:nth-child(2) {
    animation-delay: 4s;

  }
  .roller:nth-child(3) {
    animation-delay: 8s;
  }
  .roller:nth-child(4) {
    animation-delay: 12s;
  }
  .roller:nth-child(5) {
    animation-delay: 16s;
  }
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  @media only screen and (min-width:576px) {
    .roller>div{
     top:105%;
    }
  }
  /* medium */
  @media only screen and (min-width:768px) {
    .roller>div{
      height: 7rem;
      top:100%;
     }
     .roller>div>p{
      font-size: 1.3rem;
     }
     .roller h2{
       margin: 1rem 0 .5rem 1rem;
     }
     .postad_btn {
      width: 5%;
      left:5%;
    }
    
  }
   /* largue */
@media only screen and (min-width:950px) {
  .roller>div{
    top:105%;
   }
   .ad_title{
     margin-top: 10rem;
   }
   .post-ad{
     height: 30rem;
   }
   .postad_btn {
    top: 93%;
    left:3%;
  }
}
/* Extra largue */
@media only screen and (min-width:1200px) {
  .roller>div>p{
    font-size: 1.5rem;
   }
   .roller h2{
     font-size: 1.8rem;
     margin: 1rem 0 .5rem 1rem;
   }
}