#footer{
    display: flex;
    font-size: 1rem;
    justify-content: space-evenly;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 2rem 0 2rem 0;
}
.imgfooter{
    margin-top: 1rem;
}
#footer>div{
    width: 20%;
    display: flex;
    flex-direction: column;
}
#footer img{
    width: 100%;
}

#footer a, p{
    font-size: .8rem;
    color: white;
    text-decoration: none;
}
#footer a:hover{
    color: rgb(237, 108, 22);
    text-decoration: none;
    cursor: pointer;
}
/* small */
@media only screen and (min-width:576px) {
}
/* medium */
@media only screen and (min-width:768px) {
    #footer a, p {
        font-size: 1rem;
        color: white;
        text-decoration: none;
    }
  
}
 /* largue */
@media only screen and (min-width:992px) {
    .imgfooter{
        justify-content: center;
    }
}
