#footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 2rem 0 2rem 0;
}
.imgfooter{

    justify-content: center;
}
#footer>div{
    width: 20%;
    display: flex;
    flex-direction: column;
}
#footer img{
    width: 100%;
}

#footer a{
    color: white;
    text-decoration: none;
}
#footer a:hover{
    color: rgb(237, 108, 22);
    text-decoration: none;
    cursor: pointer;
}