.menu {
  height: 6rem;
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.menubuttons {
  display: flex;
}
.usericon {
  margin-right: 0.5rem;
  align-items: center;
  display: flex;
}
.menu .logo {
  height: 4rem;
  width: 9.1rem;
  margin-left: 1rem;
  background: url("../img/logo.svg");
  background-size: cover;
}

.menu .loginbtn,
.menu .dropbtn {
  height: 2.5rem;
  color: white;
  border-radius: 4px;
  border: solid 2px rgb(79, 93, 115);
  background: rgb(79, 93, 115);
  margin-right: 0.5rem;
}

.menu .loginbtn {
  width: 6rem;
}
.menu .loginbtn:hover, .menu .dropbtn:hover {
  background-color: rgb(230, 46, 31);
  border: 1px solid rgb(230, 46, 31);
}
.menu .loginbtn:active {
  background-color: rgb(130, 11, 0);
  border: 1px solid rgb(130, 11, 0);
  transform: scale(0.98);
}
.menu .dropbtn {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu .loginbtn:hover,
.dropbtn:hover {
  cursor: pointer;
}

.menu .dropdown {
  position: relative;
  display: inline-block;
}
.menu .dropdown-content .droplogo {
  height: 4rem;
  width: 9.15rem;
  margin: 2rem auto 4rem;
  background: url("../img/logo.svg");
  background-size: cover;
}
.menu .dropdown-content {
  display: none;
  position: absolute;
  top: -2rem;
  left: 4rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menu .dropdown-content > a {
  color: rgb(79, 93, 115);
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem auto;
  width: 100%;
  font-weight: 700;
  padding: 0 0 0 15%;
}
.menu .dropdown-content a > i,
.menu .dropdown-content p > i {
  margin-right: 0.5rem;
  padding: .2rem;
}

.menu .dropdown-content a:hover {
  background-color: rgb(230, 46, 31);
  color: rgba(255, 255, 255);

}
.menu .dropdown-content a:active {
  background-color: rgb(161, 33, 21);
  color: rgba(255, 255, 255);

}
.menu .dropdown:hover .dropdown-content {
  display: inline;
  height: 100vh;
  width: 50vw;
  border-radius: 0;
  animation: menu 0.5s forwards;
}
@keyframes menu {
  20% {
    transform: translateX(0.1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(-50vw);
    opacity: 1;
  }
}
.user-logout {
  color: rgb(178, 197, 227);
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem auto;
  width: 70%;
  font-weight: 700;
}
.menu .telephone {
  display: none;
  margin: 0 auto;
  height: 2rem;
  width: 100%;
}
.menu .telephone .number {
  color: #ff4917;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 1rem;
}
.menu .telephone .phonetitle {
  color: #7a7a7a;
  width: 100%;
  height: 1rem;
  margin: 0;
}
.menu .contact {
  width: 70%;
  margin: 3rem 15% 0;

  text-align: left;
}
.menu h2 {
  font-size: 1.5rem;
  color: rgb(79, 93, 115);
}
.menu .contact h3 {
  color: rgb(230, 46, 31);
}
.menu .contact p {
  color: rgb(79, 93, 115);
  font-size: 1rem;
  font-weight: 600;
}
.menu .social {
  width: 70%;
  margin: 4rem auto 0;
  text-align: center;
}
.menu .social > div {
  display: flex;
}
.menu .social > div > a {
  color: rgb(79, 93, 115);
  text-decoration: none;
  font-size: 1.5rem;
  width: 70%;
}
.menu .social > div > a:hover {
  color: rgb(230, 46, 31);
  background-color: rgba(0, 0, 0,0);
  transform: scale(1.2);
}
.menu .social > div > a:active {
  color: rgb(115, 10, 1);
  background-color: rgba(0, 0, 0,0);
  transform: scale(1.1);
}

/* small */
@media only screen and (min-width: 576px) {
}
/* medium */
@media only screen and (min-width: 768px) {
  .menu .dropdown:hover .dropdown-content {
    width: 40vw;
  }
  @keyframes menu {
    20% {
      transform: translateX(0.1rem);
      opacity: 0;
    }
    100% {
      transform: translateX(-40vw);
      opacity: 1;
    }
  }
  .menu .loginbtn {
    width: 10rem;
}
  .menu .telephone{
    display:block;
    margin-right: 3rem;
  }
  .menu .loginbtn,
  .menu .dropbtn {
    margin-right: 1rem;
  }
  .usericon {
    margin-right: 1rem;
    align-items: center;
    display: flex;
  }
}
 /* largue */
 @media only screen and (min-width:992px) {
  .menu .dropdown:hover .dropdown-content {
    width: 35vw;
  }
  @keyframes menu {
    20% {
      transform: translateX(0.1rem);
      opacity: 0;
    }
    100% {
      transform: translateX(-35vw);
      opacity: 1;
    }
  }
}
 /* Extra largue */
 @media only screen and (min-width:1200px) {
  .menu .dropdown:hover .dropdown-content {
    width: 30vw;
  }
  @keyframes menu {
    20% {
      transform: translateX(0.1rem);
      opacity: 0;
    }
    100% {
      transform: translateX(-30vw);
      opacity: 1;
    }
  }
}